* {
    margin: 0;
    padding: 0;
}
.preta {
    background: black;
    height: 20vh;
    grid-area: preta;
}
.amarelo{
    background: yellow;
    height: 70vh;
    grid-area: amarelo;
}
.roxo{
    background: purple;
    height: 35vh;
    grid-area: roxo;
}
.rosa{
    background: pink;
    height: 10vh;
    grid-area: rosa;
}
.cinza{
    background: gray;
    height: 35vh;
    grid-area: cinza;
}
.laranja{
    background: orange;
    height: 70vh;
    grid-area: laranja;
}
.site{
    display: grid;
    width: 100vw;
    grid-template-columns: 10% 20% 70%;
    grid-template-areas: 
    "preta preta preta"
    "amarelo cinza laranja"
    "amarelo roxo laranja"
    "rosa rosa rosa";
}